@tailwind base;
@tailwind components;
@tailwind utilities;

/* НИКАКИХ * { border:0 }  */
/* НИКАКИХ background:transparent */
/* НИКАКИХ reset-ов кроме box-sizing */

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background: transparent;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}
